@page "/counter"
@inject ICartService CartService
@implements IDisposable

<PageTitle>Counter</PageTitle>

<a href="cart" class="btn btn-info">
    <i class="oi oi-cart"></i>
    <span class="badge">@cartItemsCount</span>
</a>

@code {
    private int cartItemsCount = 0;
    private string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        CartService.OnChange += async () => await UpdateCartCount(); ;
        await UpdateCartCount();
    }

    private async Task UpdateCartCount()
    {
        try
        {
            var response = await CartService.GetCartDetails();
            if (response.Success)
            {
                cartItemsCount = response.Data.Products.Count;
            }
            else
            {
                message = response.Message ?? "An error occurred while fetching your cart details.";
                cartItemsCount = 0;
            }
        }
        catch (Exception ex)
        {
            message = "An error occurred while fetching your cart items count.";
            Console.Error.WriteLine($"Error fetching cart items count: {ex.Message}");
            cartItemsCount = 0;
        }
        StateHasChanged(); // Refresh UI
    }

    public void Dispose()
    {
        CartService.OnChange -= async () => await UpdateCartCount(); ;
    }
}